.proposal-section {
  margin-top: 50px;
padding: 50px 10px;
text-align: center;
}
.proposal-list {
  display: flex;
  padding: 50px 10px 20px 30px;
  gap: 60px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
text-align: start;
}

.proposal-item {
  position: relative;
  padding-left: 30px;
}
.proposal-item::before {
  content: '♦'; /* Вставляємо ромбик */
  position: absolute;
  left: 0;
  top: -12px;
  font-size: 30px;
  color: #f5c231;
}
.proposal-allPrice {
  position: relative;
  margin: 100px auto 80px auto;
  width:320px;
}
.proposal-price {
  position: absolute;
  bottom: 18px;
  left: 60px;
  text-decoration: line-through;
}
.proposal-todayPrice {
  position: absolute;
  right: 65px;
  bottom: 18px;
}
.price-text {

  color: antiquewhite;
}
.proposal-img{
   width: 320px;
}
.proposal-text{
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}
.proposal-button{
    display: block;
    margin: 70px auto 50px auto;
    width: 300px;
    height: 50px;
    background-color: #f5c231;
    font-size: 26px;
    font-weight: bold;
}

/* @media only screen and (min-width: 480px) {
  .proposal-allPrice {
    margin-top: 80px;
    width: 470px;
  }
 
  .proposal-price {
    bottom: 30px;
    left: 80px;
  }
  .proposal-todayPrice {
    right: 80px;
    bottom:  25px;
  }
  .price-text {
   font-size: 28px;
  }
}
@media only screen and (min-width: 1020px) {
  .proposal-section {
    margin-top: 100px;
  }
  .proposal-list {
  
    flex-direction: row;
    flex-wrap: nowrap;
    padding:100px 30px 100px 30px;
  }
  .proposal-allPrice {
    margin-top: 70px;
   width: 800px;
  }
  .proposal-price {
    bottom: 65px;
    left: 160px;
  }
  .proposal-todayPrice {
    right: 160px;
    bottom:  50px;
  }
  .price-text {
   font-size: 35px;
  }
} */
